body {
  font-family: sans-serif;
  padding: 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.day {
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.day.label {
  font-weight: bold;
  background-color: #60c271;
}

h1 {
  margin-bottom: 10px;
}
